.reservation-form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: auto;
  padding: 20px;
  background-color: #333; 
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.reservation-form label {
  margin-bottom: 10px;
  color: white; 
  font-weight: bold;
}

.reservation-form input {
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
  background-color: #444; 
  color: white; 
}



.reservation-form input::-webkit-outer-spin-button,
.reservation-form input::-webkit-inner-spin-button {
  -webkit-appearance: none; 
}

.reservation-form button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50; 
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.reservation-form button:hover {
  background-color: #45a049; 
}
